*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* PANTALLA NORMAL */
header{
  height: 30px;
  background-color: #BDBDBD;
}
main{
  display: flex;
  /* height: 900px; */
  /* align-content: center; */
  justify-content: center;
}
div{
  width: 768px;
  height: calc(100vh - 30px);
  display: flex;
  flex-wrap: wrap;
}
.section-1{
  height: 60%;
  width: 60%;
  background-color: #133673;
}
.section-2{
  height: 60%;
  width: 40%;
  background-color: #2963D2;
}
.section-3{
  height: 40%;
  width: 33.33%;
  background-color: #B7CFF7;
}
.section-4{
  height: 40%;
  width: 33.33%;
  background-color: #C6D4EA;
}
.section-5{
  height: 40%;
  width: 33.33%;
  background-color: #D3D7DA;
}
/* MEDIA QUERY */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  .section-1{
    height: 50%;
    width: 100%;
  }
  .section-2{
    height: 35%;
    width: 50%;
  }
  .section-3{
    height: 35%;
    width: 50%;
  }
  .section-4{
    height: 15%;
    width: 50%;
  }
  .section-5{
    height: 15%;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .section-1{
    width: 100%;
    height: calc(100vh - 30px);
  }
  .section-2{
    width: 100%;
  }
  .section-3{
    width: 100%;
  }
  .section-4{
    width: 100%;
  }
  .section-5{
    width: 100%;
  }
}