*{
  margin: 0;
  box-sizing: border-box;
}
#titulo{
  font: 80px cursive;
  text-align: center;
}
div{
  margin: 40px auto 0px auto;

}
#div-exterior{
  height: 400px;
  width: 500px;
  background-image: url(./mockup.png);
  background-size: cover;
}

#imagen{
  height: 100%;
  width: 100%;
}
#div-interior{
  height: 100%;
  width: 100%;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#div-interior:hover{
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 30%);
}
